extends layout/main

block vars
  - const pageTitle = 'Starting webpack 2';

block content
  main.main
    .container.bg-gray.py-10.mb-10
      h1.my-12 Webpack Starter 2.0







block after_footer
  script(src="https://api-maps.yandex.ru/2.1/?apikey=5023d733-85ed-4ca6-9eef-b49e70ac4592&lang=ru_RU")